<div style="border: solid 5px black; 
						display: flex; 
						justify-content: space-between; 
						padding: 2%;
						margin: 1%">
	<h1><%= @user.name %></h1>
	<h4>Number of posts <%= @user.posts_counter %></h4>
</div>

<div style="border: solid 5px black; 
						display: flex;
						flex-direction: column; 
						justify-content: space-between; 
						padding: 2%;
						margin: 1%">
	<h1>Bio</h1>
	<p><%= @user.bio %></p>
</div>

<% @posts.each do |post| %>
<div style="border: solid 5px black; 
						display: flex; 
						flex-direction: column;
						justify-content: space-between; 
						padding: 2%;
						margin: 1%">
	<h3><%= link_to post.title, "posts/#{post.id}" %></h3>
	<p><%= post.text %></p>

	<% @comments_info.each do |comment| %>
		<% if post.id == comment[:post_id] %>
			<div style="border: solid 1px black; 
									display: flex; 
									flex-direction: column;
									justify-content: space-between; 
									padding: 1%;
									margin: 0%">
				<h3><%= comment[:user_name] %>: <%= comment[:text] %></h3>
			</div>
		<% end %>
	<% end %>
</div>
<% end %>
