<div style="border: solid 5px black; 
						display: flex; 
						flex-direction: column;
						justify-content: space-between; 
						padding: 2%;
						margin: 1%">
	<div style="display: flex; 
						justify-content: space-between;">
		<h1><%= @post.title %> By <%= @author.name %></h1>
		<h3>Comments: <%= @comments_counter %>, Likes: <%= @likes_counter %> </h3>
	</div>
	<p><%= @post.text %></p>
</div>

<% @comments_info.each do |comment| %>
			<div style="border: solid 1px black; 
									display: flex; 
									flex-direction: column;
									justify-content: space-between; 
									padding: 1%;
									margin: 0%">
				<h3><%= comment[:user_name] %>: <%= comment[:text] %></h3>
			</div>
	<% end %>